In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [3]:
data = pd.read_csv("product.csv")
data2 = pd.read_csv("new_product.csv")

In [44]:
data.loc[len(data.index)] = [2, 7, 180, 12, "Milk", "Cow", "2023-12-14"]

In [4]:
vid_produktov = ['Молоко', 'Хлеб', 'Сникерс', 'Милкис', 'Мороженое', 'Яйца', 'Мясо', 'Огурцы', 'Помидоры', 'Картофель','Масло', 'Сахар', 'Мука', 'Соль', 'Перец', 'Рис', 'Гречка', 'Мед', 'Чай', 'Кофе', 'Сливки', 'Сметана', 'Йогурт', 'Творог', 'Кефир', 'Сырокопчености', 'Колбаса', 'Бекон', 'Сосиски', 'Ветчина', 'Капуста', 'Морковь', 'Лук', 'Чеснок', 'Петрушка', 'Укроп', 'Белокочанная капуста', 'Картошка', 'Свекла', 'Редис', 'Редька', 'Баклажан', 'Перец сладкий', 'Томаты', 'Огурец', 'Зеленый горошек', 'Фасоль', 'Лимон', 'Апельсин', 'Яблоко', 'Груша', 'Слива', 'Персик', 'Абрикос', 'Вишня', 'Смородина', 'Клубника']

In [5]:
magazines = ["Больше-меньше", "Пятерочка", "Магнит", "Перекресток", "Лента", "Макс-маркет"]

In [141]:
print(data.dtypes)

id            int64
idProduct     int64
Life          int64
Count         int64
Name         object
Shop         object
End          object
dtype: object

In [139]:
for i in range(1, 1000):
    random_index = random.randint(0, len(vid_produktov) - 1)
    sluch_vid_produkt = vid_produktov[random_index]
    
    random_index2 = random.randint(0, len(magazines) - 1)
    sluch_vid_magazine = magazines[random_index2]
    
    year = int(random.random() * 2) + 2023
    month = int(random.random() * 11) + 1
    day = int(random.random() * 28) + 1
    
    data.loc[len(data.index)] = [1+i, 6+i, int(random.random() * 365), int(random.random() * 100), sluch_vid_produkt, sluch_vid_magazine, f"{year}-{month}-{day}"]

In [181]:
data2

   id Name Product  Life  Quantity   Cal
0   1  Cow    Milk    26        15  1600

   id Name Product  Life  Quantity   Cal
0   1  Cow    Milk    26        15  1600

In [179]:
df = data[["id", "Name", "Shop"]]

In [175]:
merged = pd.merge(data, data2, how='left')

In [185]:
df['Life'] = [int(random.random() * 180) + 1 for i in range(1, 1001)]

C:\Users\willa\AppData\Local\Temp\ipykernel_13920\3014374625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Life'] = [int(random.random() * 180) + 1 for i in range(1, 1001)]

In [187]:
df['Quantity'] = [int(random.random() * 50) + 1 for i in range(1, 1001)]

C:\Users\willa\AppData\Local\Temp\ipykernel_13920\1156267037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity'] = [int(random.random() * 50) + 1 for i in range(1, 1001)]

In [193]:
df['Cal'] = [int(random.random() * 1800) + 200 for i in range(1, 1001)]

C:\Users\willa\AppData\Local\Temp\ipykernel_13920\2218845033.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cal'] = [int(random.random() * 1800) + 200 for i in range(1, 1001)]

In [197]:
df.to_csv('product0.csv', index=False, encoding='utf-8')

In [198]:
data.to_csv('product1.csv', index=False, encoding='utf-8')